<!DOCTYPE html>
<html>
<head>
  <title>BetaInvite</title>
  <%= stylesheet_link_tag    "beta_invite/application", :media => "all" %>
  <%= javascript_include_tag "beta_invite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, msg| %>
  <div class="alert alert-#{name == :notice ? 'success' : 'error' }">
    <% Array(msg).each_with_index do |message, index| %>
      <%= content_tag :div, message %>
    <% end %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
